.pick-avatar{
  width: 80px;
  opacity: 0.3;
}

.pick-avatar-seleccionado{
  transition: opacity 0.5s linear;
  opacity: 1!important;
}
.mb{
  margin-top: 20%;
  margin-right: 10%;
  margin-left: 10%;
}

//Header
.col-header{
  margin-left: 30%;
  margin-right:30%;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}
ion-avatar{
  width: 100px;
  height: 100px;
}
