<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-row class="ion-margin-top">
      <ion-col class="col-header">
        <ion-avatar>
          <ion-img src="/assets/icon/fitguru1.png" alt="img-logo" style="width: 100%; height: 100%; margin-top: 10%"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formUser" class="mb">
    <ion-row >
      <ion-col *ngIf="!loginUp">
        <swiper-container slides-per-view="4.2" loop="true">
          <swiper-slide *ngFor="let avatar of avatars">
            <ion-img [src]="avatar.img" class="pick-avatar"
                     (click)="seleccionarAvatar(avatar)"
                     [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"></ion-img>
          </swiper-slide>
        </swiper-container>
      </ion-col>
      <<ion-col>
      <div class="form-floating mb-3" *ngIf="!loginUp">
        <ion-input type="text" formControlName="username" id="username" class="form-control" placeholder="username">
          <ion-label for="username">Username</ion-label>
        </ion-input>
      </div>
      <div class="form-floating mb-3">
        <ion-input type="email" formControlName="email" required id="email" class="form-control" placeholder="email">
          <ion-label for="email">Email</ion-label>
        </ion-input>
      </div>
      <div class="form-floating mb-3">
        <ion-input type="password" formControlName="password" required id="password" class="form-control" placeholder="password">
          <ion-label for="password">Password</ion-label>
        </ion-input>
      </div>
      <div class="d-flex justify-content-center">
        <ion-button class="btn-success" type="submit" (click)="register()">Register</ion-button>
      </div>
    </ion-col>
    </ion-row>
  </form>


</ion-content>
