ion-content{
  height: 270px;
}
ion-card-subtitle{
  padding: 10px;
}
.position-item{
  margin-top: 15%;
}
ion-avatar{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 150px;
  height: 150px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 110px;
}
.close-icon{
  margin-left: 210px;
}
.mat-button-1{
  margin-left: 180px;
}
.mat-button{
  margin-left: 120px;
}

.mat-stepper-horizontal{
  background-color: #e9fcf8;
}
ion-card{
  background-color: #ffffff;
}
ion-card-subtitle{
  background-color: #ffffff;
}
