<ion-header [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-capitalize">
      {{titulo}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuLateral" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-header [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <ion-img src="/assets/icon/logo-lego.png" alt="img-logo"></ion-img>
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuLateral" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->



