<ion-header [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-capitalize">
      CALCULADORA TMB
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuLateral" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-input label="Peso (kg)" type="number" [(ngModel)]="peso"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Altura (cm)" type="number" [(ngModel)]="altura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Edad (años)" type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Sexo" [(ngModel)]="sexo">
          <ion-select-option value="hombre">Hombre</ion-select-option>
          <ion-select-option value="mujer">Mujer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="calcularRMB()">Calcular RMB</ion-button>

      <ion-item *ngIf="rmb">
        <ion-label>RMB:</ion-label>
        <ion-label>{{ rmb }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <b>Información</b>
    </mat-expansion-panel-header>
    <ion-label>El Tasa Metabólica Basal (TMB) es la cantidad de calorías que el cuerpo necesita en reposo para mantener funciones
    vitales como la respiración y la circulación. Se calcula teniendo en cuenta factores como el peso, la altura, la edad y el sexo.
    Conocer tu TMB te ayuda a establecer un punto de partida para planificar tu ingesta calórica diaria y alcanzar metas de
    peso o salud. Sin embargo, es importante recordar que el TMB es solo una parte de la ecuación y que las necesidades calóricas
    pueden variar según el nivel de actividad física y otros factores individuales.</ion-label>
    <ion-img src="\assets\img\tmb.PNG" class="img-card"></ion-img>
  </mat-expansion-panel>
</ion-content>

