<app-navbar [titulo]="'Calcuadora TMB'"></app-navbar>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label position="floating">Peso (kg)</ion-label>
        <ion-input type="number" [(ngModel)]="peso"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Altura (cm)</ion-label>
        <ion-input type="number" [(ngModel)]="altura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad (años)</ion-label>
        <ion-input type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="sexo">
          <ion-select-option value="hombre">Hombre</ion-select-option>
          <ion-select-option value="mujer">Mujer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="calcularRMB()">Calcular RMB</ion-button>

      <ion-item *ngIf="rmb !== null">
        <ion-label>RMB:</ion-label>
        <ion-label>{{ rmb }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

