<ion-content *ngIf="!loginUp">
  <mat-horizontal-stepper>
    <form [formGroup]="formUser" >
      <mat-step label="Address">
        <ion-avatar>
          <ion-img src="\assets\icon\fitguru1.png"></ion-img>
        </ion-avatar>
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>BIENVENIDO A FITGURU</ion-card-title>
          </ion-card-header>
          <ion-content>
            <ion-card-subtitle>
              ¡Bienvenido a nuestra aplicación! Estamos emocionados de tenerte aquí. En nuestra plataforma,
              nuestra principal función es hacer que tu experiencia con la dieta sea más fácil y llevadera.
              Nos esforzamos por proporcionarte herramientas y recursos que simplifiquen el proceso de seguimiento
              de tu alimentación y te ayuden a alcanzar tus objetivos de salud de manera efectiva.
              Nuestra aplicación está diseñada para brindarte apoyo y motivación en cada paso del camino,
              asegurándonos de que te sientas respaldado mientras trabajas en mejorar tu bienestar.
            </ion-card-subtitle>
          </ion-content>
        </ion-card>
        <button mat-button  routerLink="/home">Cancelar</button>
        <button class="mat-button-1" mat-button matStepperNext>Siguiente</button>



      </mat-step>

      <mat-step label="Objetivo">
        <ion-avatar>
          <ion-img src="\assets\icon\fitguru1.png"></ion-img>
        </ion-avatar>
        <ion-item class="position-item">
          <ion-label>¿Qué objetivo tienes?</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
          <ion-select formControlName="objetivo" id="objetivo" class="form-control"
                      label="objetivo">
            <ion-select-option value="perder peso">Perder peso</ion-select-option>
            <ion-select-option value="mantener peso">Mantener peso</ion-select-option>
            <ion-select-option value="subir peso">Subir peso</ion-select-option>
          </ion-select>
        </ion-item>

        <div>
          <button mat-button routerLink="/home"><b>Cancelar</b></button>

          <button class="mat-button" mat-button matStepperPrevious>Atras</button>
          <button  mat-button matStepperNext>Siguiente</button>
        </div>

      </mat-step>
      <mat-step label="Actividad">
        <ion-avatar>
          <ion-img src="\assets\icon\fitguru1.png"></ion-img>
        </ion-avatar>
        <ion-item class="position-item">
          <ion-label>¿Qué actividad física tienes?</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
          <ion-select formControlName="actividad" id="actividad" class="form-control"
                      label="actividad">
            <ion-select-option value="baja">Baja</ion-select-option>
            <ion-select-option value="moderada">Moderada</ion-select-option>
            <ion-select-option value="alta">Alta</ion-select-option>
          </ion-select>
        </ion-item>

        <div>
          <button mat-button  routerLink="/home">Cancelar</button>

          <button class="mat-button" mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>

        </div>

      </mat-step>
      <mat-step label="Sexo/Edad">
        <ion-avatar>
          <ion-img src="\assets\icon\fitguru1.png"></ion-img>
        </ion-avatar>
        <ion-row>
          <ion-col>
            <ion-item class="form-floating mb-3 ">
              <ion-input type="text" formControlName="sexo" id="sexo" class="form-control" placeholder="sexo">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="form-floating mb-3">
              <ion-input type="text" formControlName="edad" id="edad" class="form-control" placeholder="edad">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <button mat-button routerLink="/home">Cancelar</button>

        <button class="mat-button" mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>

      </mat-step>

      <mat-step label="Altura/Peso">
        <ion-avatar>
          <ion-img src="\assets\icon\fitguru1.png"></ion-img>
        </ion-avatar>
        <ion-row>
          <ion-col>
            <ion-item class="form-floating mb-3 ">
              <ion-input type="text" formControlName="altura" id="altura" class="form-control" placeholder="altura">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="form-floating mb-3">
              <ion-input type="text" formControlName="peso" id="peso" class="form-control" placeholder="peso">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <button class="close-icon"  mat-button matStepperPrevious>Atras</button>
        <button mat-button (click)="onSubmit()" routerLink="/home">Aceptar</button>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

</ion-content>



