<app-navbar [titulo]="'Info Nutrición'"></app-navbar>

<ion-content class="ion-padding">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Primeros Pasos</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>Con algunos principios básicos y prácticos,
      cualquier persona puede comenzar a mejorar su dieta de manera sencilla.
      A continuación, un listado secillo a seguír.</ion-label>
    <ion-list>
      <ion-item>
        <b>Comida Real:</b> Opta por alimentos naturales como frutas, verduras, proteínas magras (pollo, pescado, legumbres) y granos enteros (arroz integral, quinoa).
      </ion-item>
      <ion-item>
        <b>Equilibrio:</b> Intenta tener una combinación de proteínas, carbohidratos y grasas saludables en cada comida.
      </ion-item>
      <ion-item>
        <b>Porciones Moderadas:</b> Controla las cantidades que consumes para evitar excesos. Escucha a tu cuerpo y para cuando estés satisfecho.
      </ion-item>
      <ion-item>
        <b>Hidratación:</b> Bebe suficiente agua durante el día y limita las bebidas azucaradas.
      </ion-item>
      <ion-item>
        <b>Consistencia:</b> Trata de mantener una rutina de comidas regular y evitar los atracones.
      </ion-item>
    </ion-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Errores frecuentes</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>Al iniciar una dieta, es común cometer errores que pueden obstaculizar nuestros objetivos de salud.
      Identificar y evitar estos errores puede marcar la diferencia en nuestro éxito.
      A continuación, se presentan cinco de los errores más frecuentes que cometen las personas al comenzar una dieta,
      junto con consejos prácticos para superarlos</ion-label>
    <ion-list>
      <ion-item>
        <b>Saltarse comidas:</b>No desayunar o evitar comidas puede provocar excesos más tarde.
      </ion-item>
      <ion-item>
        <b>Exceso de alimentos procesados:</b> Ricos en calorías vacías y pobres en nutrientes.
      </ion-item>
      <ion-item>
        <b>No beber suficiente agua: </b> No beber suficiente agua:
      </ion-item>
      <ion-item>
        <b>Depender de dietas restrictivas:</b>  Pueden causar deficiencias nutricionales y efecto rebote.
      </ion-item>
      <ion-item>
        <b>Falta de planificación:</b>No tener opciones saludables a mano puede llevar a decisiones poco saludables.
      </ion-item>
    </ion-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Cheat meal</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>En el mundo de la nutrición, a veces necesitas un descanso.
      Y eso es exactamente lo que ofrece el concepto de 'cheat meal'.
      ¿Qué es? Es una comida programada donde te permites disfrutar de tus alimentos favoritos,
      ¡incluso los que normalmente evitarías en tu dieta!
      Imagina poder disfrutar de una rebanada de pizza o un delicioso helado sin remordimientos.
      Pero espera, no es una invitación para perder el rumbo de tus objetivos saludables.
      Más bien, es una pequeña indulgencia controlada. Y con nuestra app,
      te ayudamos a integrar estas comidas en tu plan de alimentación de manera inteligente,
      para que puedas disfrutar de lo mejor de ambos mundos: placer y salud.</ion-label>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>¿Que debo saber sobre los macronutrientes?</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>Los macronutrientes son los tres grupos principales de nutrientes que proporcionan energía al cuerpo:
      carbohidratos, proteínas y grasas. Es importante entender cómo afectan tu cuerpo y
      cómo equilibrarlos en tu dieta para mantener una nutrición adecuada y alcanzar tus objetivos de salud.</ion-label>
    <ion-label>
      Conoce la función de cada uno: los carbohidratos son la principal fuente de energía,
      las proteínas ayudan en la reparación y crecimiento muscular, y las grasas son esenciales para la absorción de vitaminas
      y la función celular. Equilibrar estos macronutrientes según tus necesidades individuales es clave para una
      alimentación saludable y un rendimiento óptimo.
    </ion-label>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Tipos de dietas</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item>
        Dieta Mediterránea: Esta dieta se basa en los patrones alimenticios de las personas que viven en regiones mediterráneas como Grecia e Italia. Se centra en alimentos como frutas, verduras, cereales integrales, pescado, aceite de oliva y frutos secos, y limita el consumo de carne roja y productos procesados. Es conocida por sus beneficios para la salud del corazón y la longevidad.
      </ion-item>
      <ion-item>
        Dieta Paleo: Inspirada en la alimentación de nuestros ancestros paleolíticos, esta dieta se centra en alimentos no procesados como carne magra, pescado, frutas, verduras, frutos secos y semillas. Se evitan los alimentos procesados, los granos, los lácteos y los azúcares refinados. Se cree que promueve la pérdida de peso y mejora la salud metabólica.
      </ion-item>
      <ion-item>
        Dieta Vegana: Esta dieta excluye todos los productos de origen animal, incluyendo carne, pescado, lácteos, huevos y miel. Se basa en alimentos de origen vegetal como frutas, verduras, granos integrales, legumbres, frutos secos y semillas. Puede proporcionar beneficios para la salud cardiovascular y reducir el riesgo de enfermedades crónicas, pero requiere planificación para asegurar una ingesta adecuada de nutrientes.
      </ion-item>
      <ion-item>
        Dieta Cetogénica: Esta dieta se caracteriza por ser alta en grasas, moderada en proteínas y muy baja en carbohidratos. La reducción drástica de carbohidratos obliga al cuerpo a entrar en un estado metabólico llamado cetosis, donde quema grasas para obtener energía en lugar de carbohidratos. Se cree que ayuda en la pérdida de peso y puede tener beneficios para la salud mental y metabólica.
      </ion-item>
      <ion-item>
        Dieta Flexitariana: Esta dieta es una versión flexible del vegetarianismo, donde se consume principalmente una dieta basada en plantas, pero se permite ocasionalmente el consumo de carne y otros productos de origen animal. Se centra en alimentos integrales y nutritivos, pero permite cierta flexibilidad para adaptarse a las preferencias y necesidades individuales.
      </ion-item>
    </ion-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Como comer fuera de casa</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>Cuando comas fuera de casa, elige platos que prioricen verduras y proteínas magras como pollo o pescado.
      Controla las porciones y evita salsas y aderezos pesados. Opta por métodos de cocción saludables como a la parrilla o al vapor.
      Limita el consumo de extras como pan o papas fritas, y elige bebidas sin azúcar como agua o té. Si es posible,
      haz modificaciones en los platos para que se ajusten a tus necesidades dietéticas.</ion-label>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Mitos y Verdades</mat-panel-title>
    </mat-expansion-panel-header>
    <ion-label>Cuando comas fuera de casa, elige platos que prioricen verduras y proteínas magras como pollo o pescado.
      Controla las porciones y evita salsas y aderezos pesados. Opta por métodos de cocción saludables como a la parrilla o al vapor.
      Limita el consumo de extras como pan o papas fritas, y elige bebidas sin azúcar como agua o té. Si es posible,
      haz modificaciones en los platos para que se ajusten a tus necesidades dietéticas.</ion-label>
  </mat-expansion-panel>
</ion-content>
