<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agregar-comida"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Lista de Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-searchbar placeholder="Busca por nombre..." (ionInput)="buscar($event)"></ion-searchbar>
        <ion-button class="btn-add" color="success" fill="outline" id="open-modal">+</ion-button>
      </ion-list-header>
      <ion-item *ngFor="let ali of alimentos ">
        <ion-avatar>
          <ion-img [src]="ali.img"></ion-img>
        </ion-avatar>
        <ion-label><b>{{ali.nombre}}</b></ion-label>
        <ion-button color="secondary" fill="outline" (click)="goFormAlimento(ali._id)">AÑADIR</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="addAlimento()">Aceptar</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <form [formGroup]="formComida" (ngSubmit)="addAlimento()">
          <ion-toolbar>
            <ion-title class="margin-title">
              AÑADIR ALIMENTO A LA LISTA
            </ion-title>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Nombre alimento" labelPlacement="floating" type="text"
                             formControlName="nombre"
                             id="nombre" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Tipo alimento" labelPlacement="floating" type="text"
                             formControlName="tipo"
                             id="tipo" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Descripcion alimento" labelPlacement="floating" type="text"
                             formControlName="descripcion"
                             id="descripcion" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Imagen alimento" labelPlacement="floating" type="text"
                             formControlName="img"
                             id="img" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Proteina" labelPlacement="floating" type="text"
                             formControlName="proteina"
                             id="proteina" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Carbohidratos" labelPlacement="floating" type="text"
                             formControlName="carbohidrato"
                             id="carbohidrato" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-floating mb-3">
                  <ion-input label="Grasas" labelPlacement="floating" type="text"
                             formControlName="grasa"
                             id="grasa" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
