<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="col-header">
    <ion-avatar>
      <ion-img class="img" src="/assets/icon/fitguru1.png" alt="img-logo"></ion-img>
    </ion-avatar>
    <ion-avatar routerLink="/info-nutricion" slot="start" class="width-avatar">
      <ion-icon color="primary" name="information-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuLateral" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-justify-content-center">
  <ion-row>
    <ion-col>
      <ion-button color="secondary" class="btn-width" shape="round" expand="block" size="large" fill="solid"  routerLink="/agregar-comida">Agregar
        comidas
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="secondary" class="btn-width" shape="round" expand="block" size="large" fill="solid"  routerLink="/calendario">Calendario
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="secondary" class="btn-width" shape="round" expand="block" size="large" fill="solid"  routerLink="/calculadora-tabs">Calculadoras
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
