ion-toolbar{
  display: flex;
  justify-content: center;
  height: 130px;
}
.img{
  margin-left: 80px;
  width: 120px;
  height: 120px;
  margin-top: 5%;
}
.width-img{
  width: 400px;
  height: 200px;
}
ion-icon{
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-top: 10%;
}
.btn-width{
  width: 350px;
  height: 100px;
  margin-top: 15px;
  margin-left: 10px;
}
ion-button{
  border-radius: 15px;
}



