ion-img.primera-img{
  margin-top: 30px;
}
ion-toolbar{
  display: flex;
  justify-content: center;
  height: 130px;
}
.img{
  margin-left: 80px;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
ion-avatar{
  margin-bottom: 20px;
  margin-top: -10px;
}
.width-img{
  width: 400px;
  height: 200px;
}
ion-icon.icon-info{
  width: 35px;
  height: 35px;
  margin-left: 25px;
  margin-top: 10%;
}
.btn-width{
  width: 350px;
  height: 100px;
  margin-top: 15px;
  margin-left: 10px;
}
ion-button{
  border-radius: 15px;
}

.img-width{
  width: 100px;
}

ion-icon.icon-tabs{
  width: 35px;
  height: 35px;
  margin-right:10px;
}

