<ion-header class="ion-no-border">
  <ion-row class="ion-margin-top">
    <ion-col class="col-header">
      <ion-avatar>
        <ion-img src="/assets/icon/fitguru1.png" alt="img-logo" style="width: 100%; height: 100%; margin-top: 10%"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed="true" style="margin-top: 30%">
    <ion-row>
      <ion-col class="col-content">
        <ion-button fill="solid" shape="round" size="medium" routerLink="/login" style="width: 300px">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-content">
        <ion-button  fill="solid" shape="round" size="medium" routerLink="/register" style="width: 300px">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
