.col-content{
  margin-left: 10%;
  margin-right:10%;
  align-items: center;
  justify-content: center;
  display: flex
}

.col-header{
  margin-left: 30%;
  margin-right:30%;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}
ion-avatar{
  width: 200px;
  height: 200px;
}

